html, body {
	height: 100%;
}

.container {
	height: 100%;
}

h1, p {
	text-align: center;
}

.bordered-col {
	border: 1px solid black;
	border-radius: 5px;
	min-height: 60% !important;
	margin: 1em;
	overflow: auto;
}

.button-row > button, .button-row > a, .button-row > div {
	margin-top: calc((100% - (5 * 32px))/5);
	margin-left: 25%;
	width: 50%;
}

.col-heading {
	text-align: center;
}

#name-input {
	margin-left: 12%;
	padding-left: 0;
}

#first-col {
	margin-left: 12%;
}

#online-count {
	font-size: 25px;
}

.user {
	width: 50%;
	clear: both;
	margin-left: 12%;
	margin-bottom: 10%;
}

#game {
	width: 100%;
}

#canvasContainer {
	width: 100%;
	text-align: center;
}

#boardCanvas {
	z-index: 1;
}

#tokenCanvas {
	z-index: 0;
}

#boardCanvas, #tokenCanvas {
	border: 1px solid #000;
	position: absolute;
	left: calc(50% - 450px);
	background: transparent;
}

#titleRow {
	min-height: 69px;
	height: 5%;
}

#subTitleRow {
	min-height: 71px;
	height: 5%;
}

#firstRow {
	height: 5%;
}

#columnsRow {
	height: 85%;
}