h1, p {
	text-align: center;
}

#game {
	width: 100%;
}

#canvasContainer {
	width: 100%;
	text-align: center;
}

#boardCanvas {
	z-index: 1;
}

#tokenCanvas {
	z-index: 0;
}

#boardCanvas, #tokenCanvas {
	border: 1px solid #000;
	position: absolute;
	left: 10%;
	background: transparent;
}